.reviewContainer>h3{
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 212px;
}
.reviewContainer{
    display: flex;
    width: 68%;
    border: 1px solid red;
    margin: auto;
}