.reviewItemContainer{
    width: 960px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 20px;
    display: flex;
}
.cartRemove{
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    background-color: rgb(231, 172, 23);
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}